*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1D2D3C;
}

header{
    height: 100px;
    background-color: #081d31;
}

header img{
    height: 100%;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    gap: 25px;
}

.card{
    width: calc(100% / 3 - 25px / 3 * 2);
    padding: 20px 40px;
    background-color: #112030;
    color: white;
}

.splash{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 20;

    background-color: #081d3191;
}

.splash button{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 0, 0, 1);
    color: white;
}

.splash button:hover {
    background-color: rgba(255, 0, 0, 0.5);
}